#projects-container {
  margin-top: 10vw;
}

#projects-container .row {
  margin: 0 20vw;
}

#projects-container .row:after {
  content: "";
  display: table;
  clear: both;
}

#projects-container .column {
  float: left;
  width: 50%;
}

#projects-container .column .project-card {
  width: 20vw;
  height: 20vw;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 30px;
  mix-blend-mode: normal;
  margin: 5vh auto;
}

#projects-container .column .project-card img {
  max-width: 80%;
  height: 80%;
  margin: 10%;
  vertical-align: middle;
}

#projects-container .column .project-card h5 {
  display: none;
  overflow: hidden;
  width: 80%;
  margin: 0 10%;
  padding-top: 10%;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 2.5vw;
  color: rgba(255, 255, 255, 0.87);
}

#projects-container .column .project-card p {
  display: none;
  overflow: hidden;
  width: 80%;
  margin: 5% 10%;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 1.8vw;
  color: rgba(255, 255, 255, 0.87);
}

#projects-container .column .project-card:hover h5 {
  display: block;
}

#projects-container .column .project-card:hover p {
  display: block;
}

#projects-container .column .project-card:hover img {
  display: none;
}

@media screen and (max-width: 900px) {
  #projects-container {
    margin-bottom: 12vh;
  }
  #projects-container .column {
    width: 100%;
  }
  #projects-container .column .project-card {
    width: 60vw;
    height: 60vw;
  }
  #projects-container .column .project-card h5 {
    font-size: 5vw;
    line-height: 6vw;
  }
  #projects-container .column .project-card p {
    font-size: 3vw;
    line-height: 4vw;
  }
}
