#intro-container {
  margin: 0 auto;
  width: fit-content;
  padding: 0 2vw;
  color: rgba(255, 255, 255, 0.87);
}

#intro-container h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  margin-bottom: 0;
}

#intro-container h2 {
  margin-top: 0.5em;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
}

#projects-container {
  margin: 0 10%;
  margin-top: 6em;
}

#projects-container #projects-heading-container h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.87);
  display: inline;
}

#projects-container #projects-heading-container a {
  display: inline;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0 1em;
  color: rgba(0, 167, 225, 0.87);
  text-decoration: none;
}

#projects-container #projects-heading-container a:hover {
  color: rgba(255, 255, 255, 0.87);
}

#projects-container #carousel-container {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
}

#projects-container #carousel-container::-webkit-scrollbar {
  width: auto;
  height: 10px;
}

#projects-container #carousel-container::-webkit-scrollbar-track {
  background: #1b1b1b;
  border-radius: 30px;
}

#projects-container #carousel-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 20px;
}

#projects-container .project-card {
  width: 20vw;
  height: 20vw;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 30px;
  mix-blend-mode: normal;
  margin: 1vw;
  flex-shrink: 0;
  text-align: center;
}

#projects-container .project-card img {
  max-width: 80%;
  height: 80%;
  margin: 10%;
}

#projects-container .project-card h5 {
  display: none;
  overflow: hidden;
  width: 80%;
  margin: 40% 10%;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.87);
}

#projects-container .project-card:hover h5 {
  display: block;
}

#projects-container .project-card:hover img {
  display: none;
}

@media screen and (max-width: 900px) {
  #projects-container {
    margin-top: 5em;
  }
  #projects-container #carousel-container {
    display: block;
  }
  #projects-container #projects-heading-container {
    margin-bottom: 1em;
  }
  #projects-container #projects-heading-container a {
    display: block;
  }
  #projects-container #projects-heading-container h4 {
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
  }
  #projects-container .project-card {
    width: 60vw;
    height: 60vw;
    margin: 1.5em auto;
  }
  #projects-container .project-card img {
    width: 50vw;
    height: 50vw;
    margin: 5vw 5vw;
  }
  #projects-container .project-card h5 {
    margin: auto 10%;
    padding-top: 40%;
  }
}
